/* The Modal (background) */
.warning-modal-wrapper {
    display: absolute;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    margin: 0;
}

/* Modal Content/Box */
.warning-modal-window {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 20%; /* Could be more or less, depending on screen size */
}

.warning-modal-message {
    display: block;
    width: 100%;
    text-align: center;
}

/* The Close Button */
.warning-modal-button {
    text-align: center;
    color: black;
    float: center;
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    width: 50px;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 50px;
    margin-top: 50px;
}

.warning-modal-button:hover,
.warning-modal-button:focus {
    color: white;
    background-color: green;
    text-decoration: none;
    cursor: pointer;
}
