body {
    margin: 0;
    font-family: sans-serif;
    background-color: beige;
    color: red;
}

hr {
    border: red solid 3px;
    border-radius: 3px;
    margin: 0 30px 0 30px;
}

.header {
    color: black;
    text-align: center;
}

.profiles img {
    height: 60px;
}

.profiles a {
    text-decoration: none;
}

.profiles a:hover {
    color: black;
}

.profile {
    width: 200px;
    text-align: center;
    display: inline-block;
}

.back {
    text-align: center;
    padding-top: 20px;
}