<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Ганевич Вадім Васильович</title>
    <link rel="stylesheet" href="../style/mainPage.css">
</head>
<body>
    <div class="mainImages">
        <img src="../image/3.png" alt="Головне фото">
    </div>

    <h1 class="fullName">Ганевич Вадім Васильович</h1>

    <hr>

    <div class="autobiography">
        <span>
            Я, <b>Ганевич Вадім Васильович</b>, народився 28 жовтня 2002 року в мальовничому селі Веренчанка, що
            розташоване на заході України.
            <br><br>
            Коли мені виповнилось 7 років, я розпочав навчання в загальноосвітній школі І - ІІІ ступенів імені Ірини Вільде,
            яка знаходиться в селі Веренчанка Заставнівського району Чернівецької області.
            Дитячі роки проходили стрімко. Здобуваючи освіту та опановуючи ази гри у футбол, я рік за роком зростав як особистість
            вільної країни.
            <br><br>
            Коли мені виповнилось 17 років, я закінчив навчання в школі та отримав золоту медаль за особливі успіхи в навчанні.
            Я вирішив продовжити свій шлях здобування освіти в Чернівецькому національному університеті імені Юрія Федьковича,
            поступивши на факультет математики та інформатики.
            <br><br>
            2 лютого 2022 року я отримав свою першу роботу в компанії AmcBridge на посаді Trainee Software Developer, де працюю й досі.
        </span>
    </div>

    <hr>

    <div class="hyperlinks">
        <ul>
            <li><a href="/contacts">Мої профілі в соціальних мережах</a></li>
            <li><a href="/tasks">Мої лабораторні роботи з курсу "ОІТ"</a></li>
        </ul>
    </div>

    <hr>

    <div class="footer">
        <span>
            <a href="mailto:hanevych.vadim@chnu.edu.ua">Напишіть</a> або <a href="tel:380994966148">зателефонуйте</a> мені!
        </span>
    </div>

</body>
</html>
